{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"printWidth": 100,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"formatOnPaste": true,
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"endOfLine": "lf"
}
